<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pizza Form</title>
    <link rel="stylesheet" type="text/css" href="/css/pizza.css">
</head>
<body>
<body>
<!--@Id-->
<!--@GeneratedValue(strategy = GenerationType.IDENTITY)-->
<!--private Integer id;-->
<!--@Column-->
<!--private String name;-->
<!--@Column-->
<!--private String email;-->
<!--@Column-->
<!--private String pwd;-->
<!--@Column-->
<!--private String phone;-->
<!--@Column(columnDefinition = "boolean default false")-->
<!--private Boolean isActivated;-->
<!--@Column-->
<!--private Integer bonus_coins;-->
<!--@ManyToMany(cascade = { CascadeType.MERGE, CascadeType.PERSIST })-->
<!--@JoinTable(name = "accounts_roles", joinColumns = { @JoinColumn(name = "account_id") }, inverseJoinColumns = {-->
<!--@JoinColumn(name = "role_id") })-->
<!--private Set<Role> roles;-->
<!--    @ManyToMany(cascade = { CascadeType.MERGE, CascadeType.PERSIST })-->
<!--    @JoinTable(name = "accounts_addresses", joinColumns = { @JoinColumn(name = "account_id") }, inverseJoinColumns = {-->
<!--    @JoinColumn(name = "address_id") })-->
<!--    private Set<Address> addresses;-->
<!--        @ManyToOne()-->
<!--        @JoinColumn(name = "restaurant_id")-->
<!--        @Nullable-->
<!--        private Restaurant restaurant;-->
<table>
    <thead>
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Email</th>
        <th>Password</th>
        <th>Phone</th>
        <th>Activated?</th>
        <th>Bonus Coins</th>
        <th>Roles</th>
        <th>Addresses</th>
        <th>Restaurant</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="account : ${accounts}">
        <td th:text="${account.id}"></td>
        <td th:text="${account.name}"></td>
        <td th:text="${account.email}"></td>
        <td th:text="${account.pwd}"></td>
        <td th:text="${account.phone}"></td>
        <td th:text="${account.isActivated} ? 'Yes' : 'No'"></td>
        <td th:text="${account.bonus_coins}"></td>
        <td>
            <span th:each="role : ${roles}" th:if="${role.accounts != null}">
    <span th:each="account1 : ${role.accounts}" th:if="${account1.id == account.id}"
          th:text="${role.name}">></span>
</span>
            </span>
        </td>
        <td>
            <span th:each="address : ${addresses}" th:if="${address.accounts != null}">
    <span th:each="account1 : ${address.accounts}" th:if="${account1.id == account.id}"
          th:text="${address.street  + ' street, ' + address.building}">></span>
</span>
            </span>
        </td>
        <td th:text="${account.restaurant.address.street  + ' street, ' + account.restaurant.address.building}"></td>
        <td>
            <form th:action="@{'/accounts/edit/' + ${account.id}}" th:method="get">
                <button type="submit">Edit</button>
            </form>
        </td>
        <td>
            <form th:action="@{'/accounts/delete/' + ${account.id}}" th:method="get">
                <button type="submit">Delete</button>
            </form>
        </td>
    </tr>
    </tbody>
</table>
</body>
<form action="http://localhost:8088/">
    <input type="submit" value="Back to menu"/>
</form>


<div align="center">
    <h2>Create Account</h2>
    <form th:action="@{/accounts/create_account}" th:method="post" th:object="${account}">

<!--        <label for="name">Name:</label>-->
<!--        <input type="text" id="name" th:field="*{name}"/>-->
<!--        <br/>-->
<!--        <label for="size">Size:</label>-->
<!--        <select id="size" th:field="*{pizza_size}">-->
<!--            <option value="S">S</option>-->
<!--            <option value="M">M</option>-->
<!--            <option value="L">L</option>-->
<!--        </select>-->
<!--        <br/>-->
<!--        <label for="price">Price:</label>-->
<!--        <input type="text" id="price" th:field="*{price}"/>-->
<!--        <br/>-->
<!--        <label for="menuItem">Menu Item:</label>-->
<!--        <input type="checkbox" id="menuItem" th:field="*{menu_item}"/>-->
<!--        <br/>-->
<!--        <label for="ingredient">Ingredients:</label>-->
<!--        <select id="ingredient" multiple="multiple" th:field="*{ingredients}">-->
<!--            <option th:each="ingredient : ${allIngredients}"-->
<!--                    th:if="${ingredient.pizza_size == 'S'}"-->
<!--                    th:value="${ingredient.id}" th:text="${ingredient.name}">Select-->
<!--                Ingredients-->
<!--            </option>-->
<!--        </select>-->
<!--        <br/>-->

        <button type="submit">Create</button>
    </form>

</div>
</body>
</html>