<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Address Form</title>
    <link rel="stylesheet" type="text/css" href="/css/pizza.css">
</head>
<body>
<header>
    <table style="width: 100%">
        <tr>
            <td>
                <b th:text="${'Welcome back, ' + currentUser.name + '!'}"></b>
                <form action="http://localhost:8088/logout">
                    <input type="submit" value="Login/Logout"/>
                </form>
                <form action="http://localhost:8088/logout"
                      th:if="${currentUser.name != 'Stranger' and !currentUser.isActivated}">
                    <input type="submit" value="Validate account"/>
                </form>
            </td>
            <td>
                <form action="http://localhost:8088/addresses/list"
                      th:if="${#strings.contains(currentRoles, 'ROLE_ADMIN')} or ${#strings.contains(currentRoles, 'ROLE_CEO')}">
                    <input type="submit" value="Manage addresses"/>
                </form>
                <form action="http://localhost:8088/feedbacks/list"
                      th:if="${#strings.contains(currentRoles, 'ROLE_CLIENT')}">
                    <input type="submit" value="Write feedback"/>
                </form>
                <form action="http://localhost:8088/ingredients/list"
                      th:if="${#strings.contains(currentRoles, 'ROLE_ADMIN')} or ${#strings.contains(currentRoles, 'ROLE_CEO')}">
                    <input type="submit" value="Manage ingredients"/>
                </form>
                <form action="http://localhost:8088/orders/list">
                    <input type="submit" value="Place order"/>
                </form>
                <form action="http://localhost:8088/pizzas/list"
                      th:if="${#strings.contains(currentRoles, 'ROLE_ADMIN')} or ${#strings.contains(currentRoles, 'ROLE_CEO')}">
                    <input type="submit" value="Manage pizzas"/>
                </form>
                <form action="http://localhost:8088/restaurants/list"
                      th:if="${#strings.contains(currentRoles, 'ROLE_ADMIN')} or ${#strings.contains(currentRoles, 'ROLE_CEO')}">
                    <input type="submit" value="Manage restaurants"/>
                </form>
                <form action="http://localhost:8088/roles/list"
                      th:if="${#strings.contains(currentRoles, 'ROLE_ADMIN')} or ${#strings.contains(currentRoles, 'ROLE_CEO')}">
                    <input type="submit" value="Manage roles"/>
                </form>
                <form action="http://localhost:8088/sideitems/list"
                      th:if="${#strings.contains(currentRoles, 'ROLE_ADMIN')} or ${#strings.contains(currentRoles, 'ROLE_CEO')}">
                    <input type="submit" value="Manage side items"/>
                </form>
                <form action="http://localhost:8088/orders/ceo"
                      th:if="${#strings.contains(currentRoles, 'ROLE_ADMIN')} or ${#strings.contains(currentRoles, 'ROLE_CEO')}">
                    <input type="submit" value="View orders"/>
                </form>
                <form action="http://localhost:8088/orders/boss"
                      th:if="${#strings.contains(currentRoles, 'ROLE_BOSS')} or ${#strings.contains(currentRoles, 'ROLE_ADMIN')}">
                    <input type="submit" value="View orders"/>
                </form>
                <form action="http://localhost:8088/orders/waiter"
                      th:if="${#strings.contains(currentRoles, 'ROLE_WAITER')} or ${#strings.contains(currentRoles, 'ROLE_ADMIN')}">
                    <input type="submit" value="View orders"/>
                </form>
                <form action="http://localhost:8088/orders/delivery"
                      th:if="${#strings.contains(currentRoles, 'ROLE_DELIVERYMAN')} or ${#strings.contains(currentRoles, 'ROLE_ADMIN')}">
                    <input type="submit" value="View orders"/>
                </form>
                <form action="http://localhost:8088/orders/cook"
                      th:if="${#strings.contains(currentRoles, 'ROLE_COOK')} or ${#strings.contains(currentRoles, 'ROLE_ADMIN')}">
                    <input type="submit" value="View orders"/>
                </form>
                <form action="http://localhost:8088/orders/callOp"
                      th:if="${#strings.contains(currentRoles, 'ROLE_CALL_OP')} or ${#strings.contains(currentRoles, 'ROLE_ADMIN')}">
                    <input type="submit" value="View orders"/>
                </form>
            </td>
        </tr>
    </table>
</header>
<table>

    <tr>
        <th>id</th>
        <th>Street</th>
        <th>Building</th>
        <th>Entrance</th>
        <th>Floor</th>
        <th>Apartment</th>
        <th>Has intercom?</th>
        <th>Door code</th>
        <th>Comment</th>
    </tr>
    <tr th:each="address,iterStat : ${addresses}" th:class="${iterStat.odd}? 'odd' : 'even'">
        <td th:text="${address.id}"></td>
        <td th:text="${address.street}"></td>
        <td th:text="${address.building}"></td>
        <td th:text="${address.entrance}"></td>
        <td th:text="${address.floor}"></td>
        <td th:text="${address.apartment}"></td>
        <td th:text="${address.has_intercom}"></td>
        <td th:text="${address.door_code}"></td>
        <td th:text="${address.comment}"></td>
        <td>
            <form th:action="@{'/addresses/edit/' + ${address.id}}" th:method="get">
                <button type="submit">Edit</button>
            </form>
        </td>
        <td>
            <form th:action="@{'/addresses/delete/' + ${address.id}}" th:method="get">
                <button type="submit">Delete</button>
            </form>
        </td>
    </tr>
</table>
<form action="http://localhost:8088/">
    <input type="submit" value="Back to menu" />
</form>


<div align="center">
    <h2>Create Address</h2>
    <form th:action="@{/addresses/create_address}" th:method="post" th:object="${address}" >

        <label for="street">Street:</label>
        <input type="text" id="street" th:field="*{street}"/><br/>

        <label for="building">Building:</label>
        <input type="text" id="building" th:field="*{building}"/><br/>

        <label for="entrance">Entrance:</label>
        <input type="number" id="entrance" th:field="*{entrance}"/><br/>

        <label for="floor">Floor:</label>
        <input type="number" id="floor" th:field="*{floor}"/><br/>

        <label for="apartment">Apartment:</label>
        <input type="number" id="apartment" th:field="*{apartment}"/><br/>

        <label for="hasIntercom">Has Intercom:</label>
        <input type="checkbox" id="hasIntercom" th:field="*{has_intercom}"/><br/>

        <label for="doorCode">Door Code:</label>
        <input type="text" id="doorCode" th:field="*{door_code}"/><br/>

        <label for="comment">Comment:</label>
        <input type="text" id="comment" th:field="*{comment}"/><br/>

        <button type="submit">Create</button>
    </form>

</div>
</body>
</html>