<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pizza Form</title>
    <link rel="stylesheet" type="text/css" href="/css/pizza.css">
</head>

<body>
<body>
<header>
    <table style="width: 100%">
        <tr>
            <td>
                <b th:text="${'Welcome back, ' + currentUser.name + '!'}"></b>
                <form action="http://localhost:8088/logout">
                    <input type="submit" value="Login/Logout"/>
                </form>
                <form action="http://localhost:8088/logout"
                      th:if="${currentUser.name != 'Stranger' and !currentUser.isActivated}">
                    <input type="submit" value="Validate account"/>
                </form>
            </td>
            <td>
                <form action="http://localhost:8088/addresses/list"
                      th:if="${#strings.contains(currentRoles, 'ROLE_ADMIN')} or ${#strings.contains(currentRoles, 'ROLE_CEO')}">
                    <input type="submit" value="Manage addresses"/>
                </form>
                <form action="http://localhost:8088/feedbacks/list"
                      th:if="${#strings.contains(currentRoles, 'ROLE_CLIENT')}">
                    <input type="submit" value="Write feedback"/>
                </form>
                <form action="http://localhost:8088/ingredients/list"
                      th:if="${#strings.contains(currentRoles, 'ROLE_ADMIN')} or ${#strings.contains(currentRoles, 'ROLE_CEO')}">
                    <input type="submit" value="Manage ingredients"/>
                </form>
                <form action="http://localhost:8088/orders/list">
                    <input type="submit" value="Place order"/>
                </form>
                <form action="http://localhost:8088/pizzas/list"
                      th:if="${#strings.contains(currentRoles, 'ROLE_ADMIN')} or ${#strings.contains(currentRoles, 'ROLE_CEO')}">
                    <input type="submit" value="Manage pizzas"/>
                </form>
                <form action="http://localhost:8088/restaurants/list"
                      th:if="${#strings.contains(currentRoles, 'ROLE_ADMIN')} or ${#strings.contains(currentRoles, 'ROLE_CEO')}">
                    <input type="submit" value="Manage restaurants"/>
                </form>
                <form action="http://localhost:8088/roles/list"
                      th:if="${#strings.contains(currentRoles, 'ROLE_ADMIN')} or ${#strings.contains(currentRoles, 'ROLE_CEO')}">
                    <input type="submit" value="Manage roles"/>
                </form>
                <form action="http://localhost:8088/sideitems/list"
                      th:if="${#strings.contains(currentRoles, 'ROLE_ADMIN')} or ${#strings.contains(currentRoles, 'ROLE_CEO')}">
                    <input type="submit" value="Manage side items"/>
                </form>
                <form action="http://localhost:8088/orders/ceo"
                      th:if="${#strings.contains(currentRoles, 'ROLE_ADMIN')} or ${#strings.contains(currentRoles, 'ROLE_CEO')}">
                    <input type="submit" value="View orders"/>
                </form>
                <form action="http://localhost:8088/orders/boss"
                      th:if="${#strings.contains(currentRoles, 'ROLE_BOSS')} or ${#strings.contains(currentRoles, 'ROLE_ADMIN')}">
                    <input type="submit" value="View orders"/>
                </form>
                <form action="http://localhost:8088/orders/waiter"
                      th:if="${#strings.contains(currentRoles, 'ROLE_WAITER')} or ${#strings.contains(currentRoles, 'ROLE_ADMIN')}">
                    <input type="submit" value="View orders"/>
                </form>
                <form action="http://localhost:8088/orders/delivery"
                      th:if="${#strings.contains(currentRoles, 'ROLE_DELIVERYMAN')} or ${#strings.contains(currentRoles, 'ROLE_ADMIN')}">
                    <input type="submit" value="View orders"/>
                </form>
                <form action="http://localhost:8088/orders/cook"
                      th:if="${#strings.contains(currentRoles, 'ROLE_COOK')} or ${#strings.contains(currentRoles, 'ROLE_ADMIN')}">
                    <input type="submit" value="View orders"/>
                </form>
                <form action="http://localhost:8088/orders/callOp"
                      th:if="${#strings.contains(currentRoles, 'ROLE_CALL_OP')} or ${#strings.contains(currentRoles, 'ROLE_ADMIN')}">
                    <input type="submit" value="View orders"/>
                </form>
            </td>
        </tr>
    </table>
</header>
<table>
    <thead>
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Size</th>
        <th>Price</th>
        <th>Menu Item</th>
        <th>Ingredients</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="pizza : ${pizzas}">
        <td th:text="${pizza.id}"></td>
        <td th:text="${pizza.name}"></td>
        <td th:text="${pizza.pizza_size}"></td>
        <td th:text="${pizza.price}"></td>
        <td th:text="${pizza.menu_item} ? 'Yes' : 'No'"></td>
        <td width="10%">
            <span th:each="ingredient, status : ${pizza.ingredients}"
                  th:text="${ingredient.name} + ' ' + ${ingredient.pizza_size} + ' '">
            </span>
            <br>
        </td>
        <td>
            <form th:action="@{'/pizzas/edit/' + ${pizza.id}}" th:method="get">
                <button type="submit">Edit</button>
            </form>
        </td>
        <td>
            <form th:action="@{'/pizzas/delete/' + ${pizza.id}}" th:method="get">
                <button type="submit">Delete</button>
            </form>
        </td>
    </tr>
    </tbody>
</table>
</body>
</br>
<div align="center">
    <form th:action="@{/pizzas/create_pizza}" th:method="post" th:object="${pizza}" style="width: 10%">
        <h2>Create Pizza</h2>
        <label for="name">Name:</label>
        <input type="text" id="name" th:field="*{name}"/>
        <br/>
        <label for="size">Size:</label>
        <select id="size" th:field="*{pizza_size}">
            <option value="S">S</option>
            <option value="M">M</option>
            <option value="L">L</option>
        </select>
        <br/>
        <label for="price">Price:</label>
        <input type="text" id="price" th:field="*{price}"/>
        <br/>
        <label for="menuItem">Menu Item:</label>
        <input type="checkbox" id="menuItem" th:field="*{menu_item}"/>
        <br/>
        <label for="ingredient">Ingredients:</label>
        <select id="ingredient" multiple="multiple" th:field="*{ingredients}">
            <option th:each="ingredient : ${allIngredients}"
                    th:if="${ingredient.pizza_size == 'S'}"
                    th:value="${ingredient.id}" th:text="${ingredient.name}">Select
                Ingredients
            </option>
        </select>
        <br/>

        <button type="submit">Create</button>
    </form>

</div>
</body>
</html>