<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pizza Form</title>
    <link rel="stylesheet" type="text/css" href="/css/pizza.css">
</head>
<body>
<body>
<table>
    <thead>
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Size</th>
        <th>Price</th>
        <th>Menu Item</th>
        <th>Ingredients</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="pizza : ${pizzas}">
        <td th:text="${pizza.id}"></td>
        <td th:text="${pizza.name}"></td>
        <td th:text="${pizza.pizza_size}"></td>
        <td th:text="${pizza.price}"></td>
        <td th:text="${pizza.menu_item} ? 'Yes' : 'No'"></td>
        <td th:text="${pizza.ingredients}"></td>
        <td>
            <form th:action="@{'/pizzas/edit/' + ${pizza.id}}" th:method="get">
                <button type="submit">Edit</button>
            </form>
        </td>
        <td>
            <form th:action="@{'/pizzas/delete/' + ${pizza.id}}" th:method="get">
                <button type="submit">Delete</button>
            </form>
        </td>
    </tr>
    </tbody>
</table>
</body>
<form action="http://localhost:8088/">
    <input type="submit" value="Back to menu"/>
</form>


<div align="center">
    <h2>Create Pizza</h2>
    <form th:action="@{/pizzas/create_pizza}" th:method="post" th:object="${pizza}">

        <label for="name">Name:</label>
        <input type="text" id="name" th:field="*{name}"/>
        <br/>
        <label for="size">Size:</label>
        <select id="size" th:field="*{pizza_size}">
            <option value="S">S</option>
            <option value="M">M</option>
            <option value="L">L</option>
        </select>
        <br/>
        <label for="price">Price:</label>
        <input type="text" id="price" th:field="*{price}"/>
        <br/>
        <label for="menuItem">Menu Item:</label>
        <input type="checkbox" id="menuItem" th:field="*{menu_item}"/>
        <br/>
        <label for="ingredient">Ingredients:</label>
        <select id="ingredient" multiple="multiple" th:field="*{ingredients}">
            <option th:each="ingredient : ${allIngredients}"
                    th:if="${ingredient.pizza_size == 'S'}"
                    th:value="${ingredient.id}" th:text="${ingredient.name} + '  ' + ${ingredient.pizza_size}">Select
                Ingredients
            </option>
        </select>

        <!--        <select id="ingredient" multiple="multiple" th:field="*{ingredients}">-->
        <!--            <option th:each="ingredient : ${ingredients}"-->
        <!--                    th:if="${ingredient.pizza_size == *{pizza_size}}"-->
        <!--                    th:value="${ingredient}" th:text="${ingredient.name}">Select Ingredients</option>-->
        <!--        </select>-->
        <br/>

        <button type="submit">Create</button>
    </form>

</div>
</body>
</html>