<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Restaurant Form</title>
    <link rel="stylesheet" type="text/css" href="/css/pizza.css">
</head>
<body>
<header>
    <table style="width: 100%">
        <tr>
            <td>
                <b th:text="${'Welcome back, ' + currentUser.name + '!'}"></b>
                <form action="http://localhost:8088/logout">
                    <input type="submit" value="Login/Logout"/>
                </form>
                <form action="http://localhost:8088/logout"
                      th:if="${currentUser.name != 'Stranger' and !currentUser.isActivated}">
                    <input type="submit" value="Validate account"/>
                </form>
            </td>
            <td>
                <form action="http://localhost:8088/addresses/list"
                      th:if="${#strings.contains(currentRoles, 'ROLE_ADMIN')} or ${#strings.contains(currentRoles, 'ROLE_CEO')}">
                    <input type="submit" value="Manage addresses"/>
                </form>
                <form action="http://localhost:8088/feedbacks/list"
                      th:if="${#strings.contains(currentRoles, 'ROLE_CLIENT')}">
                    <input type="submit" value="Write feedback"/>
                </form>
                <form action="http://localhost:8088/ingredients/list"
                      th:if="${#strings.contains(currentRoles, 'ROLE_ADMIN')} or ${#strings.contains(currentRoles, 'ROLE_CEO')}">
                    <input type="submit" value="Manage ingredients"/>
                </form>
                <form action="http://localhost:8088/orders/list">
                    <input type="submit" value="Place order"/>
                </form>
                <form action="http://localhost:8088/pizzas/list"
                      th:if="${#strings.contains(currentRoles, 'ROLE_ADMIN')} or ${#strings.contains(currentRoles, 'ROLE_CEO')}">
                    <input type="submit" value="Manage pizzas"/>
                </form>
                <form action="http://localhost:8088/restaurants/list"
                      th:if="${#strings.contains(currentRoles, 'ROLE_ADMIN')} or ${#strings.contains(currentRoles, 'ROLE_CEO')}">
                    <input type="submit" value="Manage restaurants"/>
                </form>
                <form action="http://localhost:8088/roles/list"
                      th:if="${#strings.contains(currentRoles, 'ROLE_ADMIN')} or ${#strings.contains(currentRoles, 'ROLE_CEO')}">
                    <input type="submit" value="Manage roles"/>
                </form>
                <form action="http://localhost:8088/sideitems/list"
                      th:if="${#strings.contains(currentRoles, 'ROLE_ADMIN')} or ${#strings.contains(currentRoles, 'ROLE_CEO')}">
                    <input type="submit" value="Manage side items"/>
                </form>
                <form action="http://localhost:8088/orders/ceo"
                      th:if="${#strings.contains(currentRoles, 'ROLE_ADMIN')} or ${#strings.contains(currentRoles, 'ROLE_CEO')}">
                    <input type="submit" value="View orders"/>
                </form>
                <form action="http://localhost:8088/orders/boss"
                      th:if="${#strings.contains(currentRoles, 'ROLE_BOSS')} or ${#strings.contains(currentRoles, 'ROLE_ADMIN')}">
                    <input type="submit" value="View orders"/>
                </form>
                <form action="http://localhost:8088/orders/waiter"
                      th:if="${#strings.contains(currentRoles, 'ROLE_WAITER')} or ${#strings.contains(currentRoles, 'ROLE_ADMIN')}">
                    <input type="submit" value="View orders"/>
                </form>
                <form action="http://localhost:8088/orders/delivery"
                      th:if="${#strings.contains(currentRoles, 'ROLE_DELIVERYMAN')} or ${#strings.contains(currentRoles, 'ROLE_ADMIN')}">
                    <input type="submit" value="View orders"/>
                </form>
                <form action="http://localhost:8088/orders/cook"
                      th:if="${#strings.contains(currentRoles, 'ROLE_COOK')} or ${#strings.contains(currentRoles, 'ROLE_ADMIN')}">
                    <input type="submit" value="View orders"/>
                </form>
                <form action="http://localhost:8088/orders/callOp"
                      th:if="${#strings.contains(currentRoles, 'ROLE_CALL_OP')} or ${#strings.contains(currentRoles, 'ROLE_ADMIN')}">
                    <input type="submit" value="View orders"/>
                </form>
            </td>
        </tr>
    </table>
</header>
<table>
    <tr>
        <th>id</th>
        <th>Open Hours</th>
        <th>Address</th>
    </tr>
    <tr th:each="restaurant,iterStat : ${restaurants}" th:class="${iterStat.odd}? 'odd' : 'even'">
        <td th:text="${restaurant.id}"></td>
        <td th:text="${restaurant.open_hours}"></td>
        <td th:text="${restaurant.address.street + ' street, ' + restaurant.address.building}"></td>
        <td>
            <form th:action="@{'/restaurants/edit/' + ${restaurant.id}}" th:method="get">
                <button type="submit">Edit</button>
            </form>
        </td>
        <td>
            <form th:action="@{'/restaurants/delete/' + ${restaurant.id}}" th:method="get">
                <button type="submit">Delete</button>
            </form>
        </td>
    </tr>
</table>
<form action="http://localhost:8088/">
    <input type="submit" value="Back to menu" />
</form>


<div align="center">

    <form th:action="@{/restaurants/create_restaurant}" th:method="post" th:object="${restaurant}" >
        <h2>Create Restaurant</h2>
        <label for="openHours">Open Hours:</label>
        <input type="text" id="openHours" th:field="*{open_hours}"/><br/>


        <h3>Address Information</h3>
        <label for="street">Street:</label>
        <input type="text" id="street" th:field="*{address.street}"/><br/>


        <label for="building">Building:</label>
        <input type="text" id="building" th:field="*{address.building}"/><br/>


        <label for="entrance">Entrance:</label>
        <input type="number" id="entrance" th:field="*{address.entrance}"/><br/>


        <label for="floor">Floor:</label>
        <input type="number" id="floor" th:field="*{address.floor}"/><br/>


        <label for="apartment">Apartment:</label>
        <input type="number" id="apartment" th:field="*{address.apartment}"/><br/>


        <label for="hasIntercom">Has Intercom:</label>
        <input type="checkbox" id="hasIntercom" th:field="*{address.has_intercom}"/><br/>


        <label for="doorCode">Door Code:</label>
        <input type="text" id="doorCode" th:field="*{address.door_code}"/><br/>


        <label for="comment">Comment:</label>
        <input type="text" id="comment" th:field="*{address.comment}"/><br/>

        <button type="submit">Create</button>
    </form>

</div>
</body>
</html>