<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Role Form</title>
    <link rel="stylesheet" type="text/css" href="https://www.w3schools.com/w3css/4/w3.css">
</head>
<body>
<form action="http://localhost:8088/">
    <input type="submit" value="Back to menu"/>
</form>

<div align="center">
    <h2>Edit Role</h2>
    <form th:action="@{/roles/edit}" th:method="post" th:object="${role}">
        <input type="hidden" th:field="*{id}"/>
        <br/>
        <label for="name">Name:</label>
        <input type="text" id="name" th:field="*{name}"/><br/>
        <br/>
        <button type="submit">Edit</button>
    </form>
</div>
</body>
</html>