<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Side Item Form</title>
    <link rel="stylesheet" type="text/css" href="/css/pizza.css">
</head>
<body>
<header>
    <table style="width: 100%">
        <tr>
            <td>
                <b th:text="${'Welcome back, ' + currentUser.name + '!'}"></b>
                <br>
                <b th:text="${'You have ' + currentUser.bonus_coins + ' bonus coins!'}"
                   th:if="${currentUser.name != 'Stranger' and currentUser.isActivated}">
                </b>
                <form action="http://localhost:8088/logout">
                    <input type="submit" value="Login/Logout"/>
                </form>
                <form action="http://localhost:8088/authenticate"
                      th:if="${currentUser.name != 'Stranger' and !currentUser.isActivated}">
                    <input type="submit" value="Validate account"/>
                </form>
            </td>
            <td>
                <form action="http://localhost:8088/addresses/list"
                      th:if="${#strings.contains(currentRoles, 'ROLE_ADMIN')} or ${#strings.contains(currentRoles, 'ROLE_CEO')}">
                    <input type="submit" value="Manage addresses"/>
                </form>
                <form action="http://localhost:8088/feedbacks/list"
                      th:if="${#strings.contains(currentRoles, 'ROLE_CLIENT')}">
                    <input type="submit" value="Write feedback"/>
                </form>
                <form action="http://localhost:8088/ingredients/list"
                      th:if="${#strings.contains(currentRoles, 'ROLE_ADMIN')} or ${#strings.contains(currentRoles, 'ROLE_CEO')}">
                    <input type="submit" value="Manage ingredients"/>
                </form>
                <form action="http://localhost:8088/orders/list">
                    <input type="submit" value="Place order"/>
                </form>
                <form action="http://localhost:8088/pizzas/list"
                      th:if="${#strings.contains(currentRoles, 'ROLE_ADMIN')} or ${#strings.contains(currentRoles, 'ROLE_CEO')}">
                    <input type="submit" value="Manage pizzas"/>
                </form>
                <form action="http://localhost:8088/restaurants/list"
                      th:if="${#strings.contains(currentRoles, 'ROLE_ADMIN')} or ${#strings.contains(currentRoles, 'ROLE_CEO')}">
                    <input type="submit" value="Manage restaurants"/>
                </form>
                <form action="http://localhost:8088/roles/list"
                      th:if="${#strings.contains(currentRoles, 'ROLE_ADMIN')} or ${#strings.contains(currentRoles, 'ROLE_CEO')}">
                    <input type="submit" value="Manage roles"/>
                </form>
                <form action="http://localhost:8088/users/list"
                      th:if="${#strings.contains(currentRoles, 'ROLE_ADMIN')} or ${#strings.contains(currentRoles, 'ROLE_CEO')}">
                    <input type="submit" value="Manage users"/>
                </form>
                <form action="http://localhost:8088/sideitems/list"
                      th:if="${#strings.contains(currentRoles, 'ROLE_ADMIN')} or ${#strings.contains(currentRoles, 'ROLE_CEO')}">
                    <input type="submit" value="Manage side items"/>
                </form>
                <form action="http://localhost:8088/orders/ceo"
                      th:if="${#strings.contains(currentRoles, 'ROLE_ADMIN')} or ${#strings.contains(currentRoles, 'ROLE_CEO')}">
                    <input type="submit" value="View orders"/>
                </form>
                <form action="http://localhost:8088/orders/boss"
                      th:if="${#strings.contains(currentRoles, 'ROLE_BOSS')} or ${#strings.contains(currentRoles, 'ROLE_ADMIN')}">
                    <input type="submit" value="View orders"/>
                </form>
                <form action="http://localhost:8088/orders/waiter"
                      th:if="${#strings.contains(currentRoles, 'ROLE_WAITER')} or ${#strings.contains(currentRoles, 'ROLE_ADMIN')}">
                    <input type="submit" value="View orders"/>
                </form>
                <form action="http://localhost:8088/orders/delivery"
                      th:if="${#strings.contains(currentRoles, 'ROLE_DELIVERYMAN')} or ${#strings.contains(currentRoles, 'ROLE_ADMIN')}">
                    <input type="submit" value="View orders"/>
                </form>
                <form action="http://localhost:8088/orders/cook"
                      th:if="${#strings.contains(currentRoles, 'ROLE_COOK')} or ${#strings.contains(currentRoles, 'ROLE_ADMIN')}">
                    <input type="submit" value="View orders"/>
                </form>
                <form action="http://localhost:8088/orders/callOp"
                      th:if="${#strings.contains(currentRoles, 'ROLE_CALL_OP')} or ${#strings.contains(currentRoles, 'ROLE_ADMIN')}">
                    <input type="submit" value="View orders"/>
                </form>
            </td>
        </tr>
    </table>
</header>
<form action="http://localhost:8088/">
    <input type="submit" value="Back to menu"/>
</form>

<div align="center">
    <h2>Edit Side Item</h2>
    <form th:action="@{/sideitems/edit}" th:method="post" th:object="${sideitem}">
        <input type="hidden" th:field="*{id}"/>
        <br/>
        <label for="name">Name:</label>
        <input type="text" id="name" th:field="*{name}"/><br/>
        <br/>
        <label for="price">Price:</label>
        <input type="number" step="0.01" id="price" th:field="*{price}"/><br/>

        <br/>
        <label for="menuItem">Menu Item:</label>
        <input type="checkbox" id="menuItem" th:field="*{menu_item}"/>
        <br/>

        <button type="submit">Edit</button>
    </form>
</div>
</body>
</html>