<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Side Item Form</title>
    <link rel="stylesheet" type="text/css" href="/css/pizza.css">
</head>
<body>
<table>
    <tr>
        <th>id</th>
        <th>Name</th>
        <th>Price</th>
        <th>Menu Item?</th>
    </tr>
    <tr th:each="sideitem,iterStat : ${sideitems}" th:class="${iterStat.odd}? 'odd' : 'even'">
        <td th:text="${sideitem.id}"></td>
        <td th:text="${sideitem.name}"></td>
        <td th:text="${sideitem.price}"></td>
        <td th:text="${sideitem.menu_item}"></td>
        <td>
            <form th:action="@{'/sideitems/edit/' + ${sideitem.id}}" th:method="get">
                <button type="submit">Edit</button>
            </form>
        </td>
        <td>
            <form th:action="@{'/sideitems/delete/' + ${sideitem.id}}" th:method="get">
                <button type="submit">Delete</button>
            </form>
        </td>
    </tr>
</table>
<form action="http://localhost:8088/">
    <input type="submit" value="Back to menu" />
</form>

<div align="center">
    <h2>Create Side Item</h2>
    <form th:action="@{/sideitems/create_sideitem}" th:method="post" th:object="${sideitem}" >

        <label for="name">Name:</label>
        <input type="text" id="name" th:field="*{name}"/><br/>

        <label for="price">Price:</label>
        <input type="number" step="0.01" id="price" th:field="*{price}"/><br/>

        <label for="menuItem">Menu Item:</label>
        <input type="checkbox" id="menuItem" th:field="*{menu_item}"/>

        <button type="submit">Create</button>
    </form>

</div>
</body>
</html>